@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
h1{
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #6A040F;
    color: #FAA307;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 50px;
    border-radius: 0x;
    font-family: 'Oswald', sans-serif;
}

h2{
    text-align: center;
    width: 15%;
    margin: auto;
    background-color: #6A040F;
    color: #FAA307;
    padding: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: #03071E;
}



#tc{
    width: 50%;
    margin: auto;
}

#tc1{
    width: 30%;
    margin: auto;
}

.login_here{
    width: 250px;
    text-align: center;
    border-radius: 5px;
    color: white;
    padding: 3px;
}

form{
    width: 65%;
    margin: auto;
    color: #FAA307;
    background-color: #370617;
    padding: 15px;
    border-radius: 5px;
}

.container{
    width: 65%
}

.butt{
    text-align: center;
    width: 50%;
    margin: auto;
    height: 40px;
    padding-top: 5px;
}

.login_register{
    text-align: center;
    width: 50%;
    margin: auto;
    height: 40px;
    padding-top: 5px;
}